<nav class="navbar navbar-expand-md navbar-light bg-light bg-gradient">
    <div class="container ">
        <!-- NavBar Brand and Toggler Icon -->
        <a class="navbar-brand" href="/">Weather App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-Content"
            aria-controls="navbar-Content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-Content">
            <!-- Routing to other Components -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a routerLink="City" class="nav-link"> City </a></li>
                <li class="nav-item"><a routerLink="Coord" class="nav-link"> Coordinates </a></li>
                <li class="nav-item"><a routerLink="Geolocation" class="nav-link"> Geolocation </a></li>

                <div ngbDropdown>
                  <button type="button" class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle >Favorites Cities</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                    <button ngbDropdownItem *ngFor="let favoriteCity of fc.favoritesCities, let i = index;" (click)="onPickFavCity(favoriteCity)"> {{favoriteCity}}</button>
                  </div>
                </div>

            </ul>
        </div>
    </div>
</nav>

<router-outlet *ngIf="headerResearch"></router-outlet>

<app-display *ngIf="!headerResearch"
             [typeOfForm]="typeOfForm"
             [displayResearchFromForm]="headerResearch"
             [cityNameFromForm]="cityPicked!"
             [unitFromForm]="defaultUnit"
             [langFromForm]="defaultLang"
             (newResearchEvent)="onNewResearch($event)">
</app-display>


