<!-- HEADER (NAVBAR) -->
<nav class="navbar navbar-expand-md navbar-light bg-light bg-gradient">
    <div class="container ">
        <!-- NavBar Brand and Toggler Icon -->
        <a class="navbar-brand" href="/">Weather App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-Content"
            aria-controls="navbar-Content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-Content">
            <!-- Routing to other Components -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a routerLink="City" class="nav-link"> City </a></li>
                <li class="nav-item"><a routerLink="Coord" class="nav-link"> Coordinates </a></li>
                <li class="nav-item"><a routerLink="Geolocation" class="nav-link"> Geolocation </a></li>
            </ul>
        </div>
    </div>
</nav>