



<!-- WEATHER (CITY) -->
<div class="container">
    <div class="row justify-content-center" *ngIf="researchNotDone">
        <div class="col-10 col-lg-8">
            <!-- Form to get data from the user -->
            <!-- Data Collected : City Name -->
            <div class="card text-center m-3">
                <form [formGroup]="weatherForm" (ngSubmit)="onShowWeather()" class="needs-validation">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <div class="input-group input-group-lg p-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">City Name</span>
                                <input id="city" name="city" class="form-control" type="text" formControlName="weatherCity"/>
                            </div>
                        </div>
                    </div>

                    <!-- Data Collected : Unit -->
                    <div class="row justify-content-center m-1">
                        <div class="col-4">
                            <div class="form-floating">
                                <select id="units" class="form-select" name="units" id="floatingUnit"
                                    formControlName="weatherUnit"  bindQueryParam="unit" >
                                    <option value="metric"> metric </option>
                                    <option value="imperial"> imperial </option>
                                </select>
                                <label for="floatingUnit">Unit</label>
                            </div>
                        </div>

                        <!-- Data Collected : Langage (default = English) -->
                        <div class="col-4">
                            <div class="form-floating">
                                <select id="langage" class="form-select" id="floatingLang" name="langage"
                                    formControlName="weatherLang">
                                    <option> en </option>
                                    <option> fr </option>
                                </select>
                                <label for="floatingLang">Lang</label>
                            </div>
                        </div>
                    </div>

                    <!-- Button to submit Data and allow the display of the current weather -->
                    <div class="row justify-content-center">
                        <div class="col-2 m-2">
                            <button type="submit" class="btn btn-primary bg-primary"  [disabled]="weatherForm.invalid" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="card text-center m-4" *ngIf="currentWeather && !researchNotDone">
      <div class="card-header">

        <div class="row justify-content-between">

          <div class="col-2">
            <button type="button" class="btn btn-light bg-gradient" (click)="onNewResearch()"> New
            </button>
          </div>

          <div class="col m-2">
            <p *ngIf="!isSearching" class="mb-0">Current Weather</p>
            <p *ngIf="isSearching" class="text-muted">Loading ...</p>
          </div>

          <div class="col-2">
            <button  type="button" class="btn btn-light bg-gradient" (click)="onSaveCities()" >
              <svg *ngIf="!fc.iconFullFill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" >
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
              </svg>

              <svg *ngIf="fc.iconFullFill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>

            </button>
          </div>
        </div>



      </div>
      <div class="card-body">
          <h2 class="card-title">{{currentWeather.cityName}}</h2>
          <h4 *ngIf="currentWeather.lang === 'en'">Current Weather</h4>
          <h4 *ngIf="currentWeather.lang === 'fr'">Temps Actuel</h4>
          <h5 *ngIf="currentWeather.unit === 'metric'" >{{currentWeather.tempCurrent  | number: '1.0-0' }}°C</h5>
          <h5 *ngIf="currentWeather.unit === 'imperial'">{{currentWeather.tempCurrent  | number: '1.0-0' }}°F</h5>
          <p class="card-text">{{currentWeather.description}}</p>
          <img src="http://openweathermap.org/img/wn/{{currentWeather.icon}}@2x.png" class="img-fluid">
      </div>

        <div class="card-group" *ngIf=weathers>
            <div class="card" *ngFor="let day of weathers, let i = index;">
                <div class="card-body">
                  <h5>{{day.date | date : 'shortDate'}}</h5>
                  <h6 *ngIf="currentWeather.unit === 'metric'">Min : {{day.tempMin | number: '1.0-0'}}°C</h6>
                  <h6 *ngIf="currentWeather.unit === 'metric'">Max : {{day.tempMax | number: '1.0-0'}}°C</h6>
                  <h6 *ngIf="currentWeather.unit === 'imperial'">Min : {{day.tempMin | number: '1.0-0'}}°F</h6>
                  <h6 *ngIf="currentWeather.unit === 'imperial'">Max : {{day.tempMax | number: '1.0-0'}}°F</h6>
                    <img class="img-fluid" src="http://openweathermap.org/img/wn/{{day.icon}}@2x.png">
                </div>
            </div>
        </div>
    </div>
</div>



