<!-- CURRENT WEATHER (CITY) -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-lg-8">
            <!-- Form to get data from the user -->
            <!-- Data Collected : City Name -->
            <form [formGroup]="weatherForm" (ngSubmit)="ShowCity()" class="card card-1 m-3">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="input-group m-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">City Name</span>
                            <input id="city" name="city" class="form-control" type="text" formControlName="weatherCity"/>
                        </div>
                    </div>
                </div>

                <!-- Data Collected : Unit -->
                <div class="row justify-content-center m-1">
                    <div class="col-4">
                        <div class="form-floating">
                            <select id="units" class="form-select" name="units" id="floatingUnit"
                                formControlName="weatherUnit">
                                <option value="metric"> metric </option>
                                <option value="imperial"> imperial </option>
                            </select>
                            <label for="floatingUnit">Unit</label>
                        </div>
                    </div>

                    <!-- Data Collected : Langage (default = English) -->
                    <div class="col-4">
                        <div class="form-floating">
                            <select id="langage" class="form-select" id="floatingLang" name="langage"
                                formControlName="weatherLang">
                                <option> en </option>
                                <option> fr </option>
                            </select>
                            <label for="floatingLang">Lang</label>
                        </div>
                    </div>
                </div>

                <!-- Button to submit Data and allow the display of the current weather -->
                <div class="row justify-content-center">
                    <div class="col-2 m-2">
                        <button type="submit" class="btn btn-primary bg-primary" [disabled]="weatherForm.invalid">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Data display : City Name, Weather Kind, Weather Icon, Max and Min Temperature -->
    <div class="row justify-content-center">
        <div class="col-8 col-lg-5">
            <div class="card card-2 m-3" *ngIf="recherche === true">
                <div class="row justify-content-center">

                    <div class="col-6 m-1">
                        <h3> {{myWeather.cityName}}</h3>
                        <h4 *ngIf="Unit === 'metric'">{{myWeather.temp}}°C</h4>
                        <h5 *ngIf="Unit === 'imperial'">{{myWeather.temp}}°F</h5>
                        <h5>{{myWeather.weatherKind}}</h5>
                        <img src="http://openweathermap.org/img/wn/{{myWeather.icon}}@2x.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>